<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
</head>
<body>
    <h1>New Book Page</h1>
    <form action="/books" method="POST">
        Title: <input type="text" name="title"><br><br>
        Author: <input type="text" name="author"><br><br>
        Completed: <input type="radio" name="completed"><br><br>
        <input type="submit" value="Add Book"><br><br>
    </form>
    
</body>
</html>