<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <nav>
        <a href="/books">Back to Main Page</a>
    </nav>
    <h1>
        <%= book.title %>
    </h1><br>
    Author: <%= book.author%>
    <br>
    Completed: <%= book.completed%> 
</body>
</html>